@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
    --font-display: "Montserrat", sans-serif;
}

.bg-dark {
    background-color: oklch(0.92 0 340);
}

.bg {
    background-color: oklch(0.96 0 340);
}

.bg-light {
    background-color: oklch(1 0 340);
}

.text-main {
    color: oklch(0.15 0 340);
}

.text-muted {
    color: oklch(0.4 0 340);
}

.text-mid-light {
    color: #4a4d55;
}

.text-light {
    color: oklch(0.6 0 340);
}

.highlight {
    color: oklch(1 0 340);
}

.border-main {
    border-color: oklch(0.6 0 340);
}

.border-muted {
    border-color: oklch(0.7 0 340);
}

.primary {
    color: oklch(0.4 0.1 340);
}

.secondary {
    color: oklch(0.4 0.1 160);
}

.danger {
    color: oklch(0.5 0.05 30);
}

.warning {
    color: oklch(0.5 0.05 100);
}

success {
    color: oklch(0.5 0.05 160);
}

.info {
    color: oklch(0.5 0.05 260);
}
